body {
    background-image: url(fundo.jpg);
}

.grid{
    display: grid;
    grid-template-columns: 25% auto;
    grid-template-areas: 
        "header-blog header-blog"
        "sidebar-blog content-blog"
        "footer-bar footer-bar"
    ;
}

.header-blog {
    grid-area: header-blog;
}

.bx--header__name {
    width: 20%;
}

.bx--header__nav {
    background-color: rgb(57, 183, 187);
}

.sidebar-blog {
    grid-area: sidebar-blog;
    z-index: 1;
    width: 75%;
    height: 127%;
}

.bx--side-nav__navigation{
    width: 75%;
    height: 86%;
}

.content-blog {
    grid-area: content-blog;
    margin-left: -70px;
    padding-top: 6%;
    display: inline;
}

.col {
    display: grid;
    grid-template-columns: 50% 50%;
}

.card {
    margin: 1%;
}

#col-cards {
    display: grid;
    grid-template-columns: 50% auto;
}

.footer-blog {
    grid-area: footer-blog;
    position: fixed;
    bottom: 0;
    padding-left: 35%;
    background-color: rgba(6, 203, 252, 0.178);
    width: 100%;
    z-index: 2;
}