.grid{
    display: grid;
    grid-template-columns: 25% auto;
    grid-template-areas: 
        "header-blog header-blog"
        "sidebar-blog content-blog"
        "footer-bar footer-bar"
    ;
}

.header-blog {
    grid-area: header-blog;
}

.bx--header__name {
    width: 20%;
}

.bx--header__nav {
    background-color: rgb(57, 183, 187);
}

.sidebar-blog {
    grid-area: sidebar-blog;
    z-index: 1;
}

.content-blog {
    grid-area: content-blog;
    margin-left: -70px;
    padding-top: 6%;
}

.footer-blog {
    grid-area: footer-blog;
    position: fixed;
    bottom: 0;
    padding-left: 35%;
    background-color: rgba(215, 252, 6, 0.178);
    width: 100%;
    z-index: 2;
}